<mat-toolbar class="flex justify-between items-center">
  <app-toggle-sidebar-button
    (onButtonClick)="layoutService.toggleSidebar()"
    [isOpen]="layoutService.sidebarLeftOpen()"
    [icon]="layoutService.sidebarLeftIcon()"
  />
  <span class="flex flex-1 pt-1">{{layoutService.title()}}</span>

  <app-toggle-sidebar-button
    (onButtonClick)="layoutService.toggleSidebarRight()"
    [isOpen]="layoutService.sidebarRightOpen()"
    [icon]="layoutService.sidebarRightIcon()"
  />
</mat-toolbar>


<div class="h-2">
  @if(loadingService.isLoading()) {
    <mat-progress-bar mode="indeterminate" />
  }
</div>
